body {
    background-image: url('http://savepic.ru/14627036.jpg');
}

body:after {
    width: 100vw;
    height:100vh;
    background-color: rgba(255, 255, 255, .65);
    content: "";
    display: block;
    position: fixed;
    z-index: -100;
    top: 0;
}

.food-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
